<h2>contact us</h2>
<%= form_tag contact_submit_path do%>
    <div>
      <%= label_tag :full_name %>

      <%= text_field_tag :full_name %>
    </div>
    <div>
      <%= label_tag :email %>

      <%= text_field_tag :email %>
    </div>
    <div>
      <%= label_tag :message %>

      <%= text_field_tag :message %>
    </div>
    <%= submit_tag "Contact US" %>

<% end %>